<div id="<%= dom_id periodo %>">
  <p>
    <strong>Data:</strong>
    <%= periodo.data %>
  </p>

  <p>
    <strong>Hora inicial:</strong>
    <%= periodo.hora_inicial %>
  </p>

  <p>
    <strong>Hora final:</strong>
    <%= periodo.hora_final %>
  </p>

</div>
