<% content_for :title, "Editar periodo" %>

<h1>Editar periodo</h1>

<%= render "form", periodo: @periodo %>

<br>

<div>
  <%= link_to "Visualizar", @periodo %> |
  <%= link_to "Voltar", periodos_path %>
</div>
