<% content_for :title, "Editing periodo" %>

<h1>Editing periodo</h1>

<%= render "form", periodo: @periodo %>

<br>

<div>
  <%= link_to "Show this periodo", @periodo %> |
  <%= link_to "Back to periodos", periodos_path %>
</div>
