<% content_for :title, "Editing universidade" %>

<h1>Editing universidade</h1>

<%= render "form", universidade: @universidade %>

<br>

<div>
  <%= link_to "Show this universidade", @universidade %> |
  <%= link_to "Back to universidades", universidades_path %>
</div>
