<p style="color: green"><%= notice %></p>

<% content_for :title, "Universidades" %>

<h1>Universidades</h1>

<!-- Botão de cadastro alinhado à esquerda -->
<%= link_to "Cadastrar nova universidade", new_universidade_path, id: 'new-universidade-btn' %>

<div id="universidades">
  <table>
    <thead>
    <tr>
      <th>Nome da Universidade</th>
    </tr>
    </thead>
    <tbody>
    <% @universidades.each do |universidade| %>
      <tr>
        <td><%= link_to universidade.nome_universidade, universidade %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>





