<% content_for :title, "New universidade" %>

<h1>New universidade</h1>

<%= render "form", universidade: @universidade %>

<br>

<div>
  <%= link_to "Back to universidades", universidades_path %>
</div>
