<% content_for :title, "Editing secao" %>

<h1>Editing secao</h1>

<%= render "form", secao: @secao %>

<br>

<div>
  <%= link_to "Show this secao", @secao %> |
  <%= link_to "Back to secaos", secaos_path %>
</div>
