<% content_for :title, "Editar secao" %>

<h1>Editar secao</h1>

<%= render "form", secao: @secao %>

<br>

<div>
  <%= link_to "Visualizar", @secao %> |
  <%= link_to "Voltar", secaos_path %>
</div>
