<% content_for :title, "Editar ministra" %>

<h1>Editar ministra</h1>

<%= render "form", ministra: @ministra %>

<br>

<div>
  <%= link_to "Visualizar", @ministra %> |
  <%= link_to "Voltar", ministras_path %>
</div>
