<% content_for :title, "Editing ministra" %>

<h1>Editing ministra</h1>

<%= render "form", ministra: @ministra %>

<br>

<div>
  <%= link_to "Show this ministra", @ministra %> |
  <%= link_to "Back to ministras", ministras_path %>
</div>
