<div id="<%= dom_id mentorium %>">
  <p>
    <strong>Nota:</strong>
    <%= mentorium.nota %>
  </p>

  <p>
    <strong>Aluno:</strong>
    <%= mentorium.aluno_id %>
  </p>

  <p>
    <strong>Instrutor:</strong>
    <%= mentorium.instrutor_id %>
  </p>

</div>
