<div id="<%= dom_id departamento %>">
  <p>
    <strong>Predio:</strong>
    <%= departamento.predio_id %>
  </p>

  <p>
    <strong>Nome depto:</strong>
    <%= departamento.nome_depto %>
  </p>

  <p>
    <strong>Orcamento:</strong>
    <%= departamento.orcamento %>
  </p>

</div>
