<div id="<%= dom_id aluno %>">
  <p>
    <strong>Nome aluno:</strong>
    <%= aluno.nome_aluno %>
  </p>

  <p>
    <strong>Tot creditos:</strong>
    <%= aluno.tot_creditos %>
  </p>

  <p>
    <strong>Departamento:</strong>
    <%= aluno.departamento_id %>
  </p>

</div>
