<% content_for :title, "Editing aluno" %>

<h1>Editing aluno</h1>

<%= render "form", aluno: @aluno %>

<br>

<div>
  <%= link_to "Visualizar aluno", @aluno %> |
  <%= link_to "Voltar", alunos_path %>
</div>
