<p style="color: green"><%= notice %></p>

<% content_for :title, "Alunos" %>

<h1>Alunos</h1>

<span class="menu-icon" onclick="toggleMenu()">☰</span>

<div id="sidebar">
  <a href="javascript:void(0)" class="close-btn" onclick="toggleMenu()">✖</a>
  <a href="/universidades">Início</a>
  <a href="/alunos">Alunos</a>
  <a href="/cursos">Cursos</a>
  <a href="/departamentos">Departamentos</a>
  <a href="/instrutors">Instrutores</a>
  <a href="/ministras">Ministras</a>
  <a href="/periodos">Períodos</a>
  <a href="/predios">Prédios</a>
  <a href="/pre_requisitos">Pré-Requisitos</a>
  <a href="/salas">Salas</a>
  <a href="/secaos">Seções</a>
</div>

<div id="alunos">
  <% @alunos.each do |aluno| %>
    <%= render aluno %>
    <p>
      <%= link_to "Show this aluno", aluno %>
    </p>
  <% end %>
</div>

<%= link_to "New aluno", new_aluno_path %>
