<div id="<%= dom_id curso %>">
  <p>
    <strong>Nome curso:</strong>
    <%= curso.nome_curso %>
  </p>

  <p>
    <strong>Creditos:</strong>
    <%= curso.creditos %>
  </p>

  <p>
    <strong>Departamento:</strong>
    <%= curso.departamento_id %>
  </p>

</div>
