<p style="color: green"><%= notice %></p>

<% content_for :title, "Cursos" %>

<span class="menu-icon" onclick="toggleMenu()">☰</span>

<div id="sidebar">
  <a href="javascript:void(0)" class="close-btn" onclick="toggleMenu()">✖</a>
  <a href="/universidades">Início</a>
  <a href="/alunos">Alunos</a>
  <a href="/cursos">Cursos</a>
  <a href="/departamentos">Departamentos</a>
  <a href="/instrutors">Instrutores</a>
  <a href="/ministras">Ministras</a>
  <a href="/mentorias">Mentorias</a>
  <a href="/periodos">Períodos</a>
  <a href="/predios">Prédios</a>
  <a href="/pre_requisitos">Pré-Requisitos</a>
  <a href="/salas">Salas</a>
  <a href="/secaos">Seções</a>
</div>

<h1>Cursos</h1>

<%= link_to "Cadastrar novo curso", new_curso_path, id: 'new-universidade-btn' %>

<div id="cursos">
  <table>
    <thead>
      <tr>
        <th>Nome do Curso</th>
      </tr>
    </thead>
    <script>
      function toggleMenu() {
          var sidebar = document.getElementById("sidebar");
          if (sidebar.style.width === "250px") {
              sidebar.style.width = "0";
          } else {
              sidebar.style.width = "250px";
          }
      }
    </script>
    <tbody>
      <% @cursos.each do |curso| %>
        <tr>
          <td><%= link_to curso.nome_curso, curso %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
