<% content_for :title, "Editing pre requisito" %>

<h1>Editing pre requisito</h1>

<%= render "form", pre_requisito: @pre_requisito %>

<br>

<div>
  <%= link_to "Show this pre requisito", @pre_requisito %> |
  <%= link_to "Back to pre requisitos", pre_requisitos_path %>
</div>
