<% content_for :title, "Editar pre requisito" %>

<h1>Editar pre requisito</h1>

<%= render "form", pre_requisito: @pre_requisito %>

<br>

<div>
  <%= link_to "Visualizar", @pre_requisito %> |
  <%= link_to "Voltar", pre_requisitos_path %>
</div>
