<p style="color: green"><%= notice %></p>

<% content_for :title, "Pre requisitos" %>

<h1>Pre requisitos</h1>

<span class="menu-icon" onclick="toggleMenu()">☰</span>

<div id="sidebar">
  <a href="javascript:void(0)" class="close-btn" onclick="toggleMenu()">✖</a>
  <a href="/universidades">Início</a>
  <a href="/alunos">Alunos</a>
  <a href="/cursos">Cursos</a>
  <a href="/departamentos">Departamentos</a>
  <a href="/instrutors">Instrutores</a>
  <a href="/ministras">Ministras</a>
  <a href="/periodos">Períodos</a>
  <a href="/predios">Prédios</a>
  <a href="/pre_requisitos">Pré-Requisitos</a>
  <a href="/salas">Salas</a>
  <a href="/secaos">Seções</a>
</div>

<div id="pre_requisitos">
  <% @pre_requisitos.each do |pre_requisito| %>
    <%= render pre_requisito %>
    <p>
      <%= link_to "Show this pre requisito", pre_requisito %>
    </p>
  <% end %>
</div>

<%= link_to "New pre requisito", new_pre_requisito_path %>
