<% content_for :title, "New pre requisito" %>

<h1>New pre requisito</h1>

<%= render "form", pre_requisito: @pre_requisito %>

<br>

<div>
  <%= link_to "Back to pre requisitos", pre_requisitos_path %>
</div>
