<% content_for :title, "Editar predio" %>

<h1>Editar predio</h1>

<%= render "form", predio: @predio %>

<br>

<div>
  <%= link_to "Visualizar", @predio %> |
  <%= link_to "Voltar", predios_path %>
</div>
