<p style="color: green"><%= notice %></p>

<% content_for :title, "Predios" %>

<h1>Predios</h1>

<div id="predios">
  <% @predios.each do |predio| %>
    <%= render predio %>
    <p>
      <%= link_to "Show this predio", predio %>
    </p>
  <% end %>
</div>

<%= link_to "New predio", new_predio_path %>
