<div id="<%= dom_id instrutor %>">
  <p>
    <strong>Nome instrutor:</strong>
    <%= instrutor.nome_instrutor %>
  </p>

  <p>
    <strong>Salario:</strong>
    <%= instrutor.salario %>
  </p>

  <p>
    <strong>Departamento:</strong>
    <%= instrutor.departamento_id %>
  </p>

</div>
