<% content_for :title, "Editar instrutor" %>

<h1>Editar instrutor</h1>

<%= render "form", instrutor: @instrutor %>

<br>

<div>
  <%= link_to "Visualizar", @instrutor %> |
  <%= link_to "Voltar", instrutors_path %>
</div>
