<% content_for :title, "Editing instrutor" %>

<h1>Editing instrutor</h1>

<%= render "form", instrutor: @instrutor %>

<br>

<div>
  <%= link_to "Show this instrutor", @instrutor %> |
  <%= link_to "Back to instrutors", instrutors_path %>
</div>
