<% content_for :title, "Editar mentoria" %>

<h1>Editar mentoria</h1>

<%= render "form", mentorium: @mentorium %>

<br>

<div>
  <%= link_to "Visualizar", @mentorium %> |
  <%= link_to "Voltar", mentoria_path %>
</div>
