<div id="<%= dom_id sala %>">
  <p>
    <strong>Capacidade:</strong>
    <%= sala.capacidade %>
  </p>

  <p>
    <strong>Num sala:</strong>
    <%= sala.num_sala %>
  </p>

  <p>
    <strong>Predio:</strong>
    <%= sala.predio_id %>
  </p>

</div>
