<% content_for :title, "Editing sala" %>

<h1>Editing sala</h1>

<%= render "form", sala: @sala %>

<br>

<div>
  <%= link_to "Show this sala", @sala %> |
  <%= link_to "Back to salas", salas_path %>
</div>
